{% extends "orders/base_dash.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div style="margin-bottom: 5%;" class="container-fluid col-md-4 content-below-nav">
	{% if messages%}
		{% for message in messages %}
			<div class="alert alert-{{ message.tags }}">
				{{ message }}
			</div> 
		{% endfor%}
		{% endif %}
    <center><h2 class="py-3">Register A User</h2></center>
        <div class="card p-3 ">
        <div class="mt-2">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <center>
                    <button class="btn btn-outline-info" type="submit">Register</button>
                </center>
            </form>
        </div>
        </div>
    </div>
{% endblock content %}


