{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Kinno</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'orders/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'orders/all.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{% static 'orders/agency.css' %}" rel="stylesheet" type="text/css">
    <!-- <link rel="stylesheet"  href="{% static 'post/main.css' %}"> -->

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-shrinked" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="{% url 'welcome' %}" style="font-family:verdana;">Kinno</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="{% url 'welcome' %}#services">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="{% url 'welcome' %}#portfolio">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="{% url 'welcome' %}#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="{% url 'welcome' %}#team">Team</a>
            </li>
<!--             <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li> -->
            {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{% url 'dashboard' %}">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{% url 'logout' %}">Logout</a>
              </li>
            {% else %} 
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{% url 'login' %}"  style="color: #fed136">Login</a>
            </li> 
            {% endif %}  
          </ul>
        </div>
      </div>
    </nav>
    <div style="height: 40px;"></div>
    <div class="container" style="min-height: 100%">
    <br>
    {% if messages%}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
        {{ message }}
      </div> 
    {% endfor%}
    {% endif %}
    {% block content %}{% endblock%}
  </div>
    

    <!-- Footer -->
   <!--  <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <span class="copyright">Copyright &copy; Kinno</span>
          </div>
          <div class="col-md-4">
          </div>
          <div class="col-md-4">
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer> -->

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'orders/jquery.js' %}"></script>
    <script src="{% static 'orders/bootstrap.bundle.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'orders/jquery.easing.js' %}"></script>

    <!-- Contact form JavaScript -->
    <script src="{% static 'orders/jqBootstrapValidation.js' %}"></script>
    <script src="{% static 'orders/contact_me.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'orders/agency.js' %}"></script>

  </body>

</html>
